<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jaxrs="http://cxf.apache.org/jaxrs"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://cxf.apache.org/jaxrs
                           http://cxf.apache.org/schemas/jaxrs.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd">

  <import resource="classpath:META-INF/cxf/cxf.xml"/>
  <import resource="classpath:META-INF/cxf/cxf-servlet.xml"/>

  <context:component-scan base-package="net.tirasa.syncope.mavenproject1.impl"/>  

  <bean id="jsonProvider" class="com.fasterxml.jackson.jaxrs.json.JacksonJaxbJsonProvider"/>

  <bean id="gzipInInterceptor" class="org.apache.cxf.transport.common.gzip.GZIPInInterceptor"/>
  <bean id="gzipOutInterceptor" class="org.apache.cxf.transport.common.gzip.GZIPOutInterceptor">
    <property name="threshold" value="0"/>
    <property name="force" value="true"/>
  </bean>
  
  <jaxrs:server id="restContainer" address="/"
                basePackages="net.tirasa.batch.rest.poc.api, net.tirasa.batch.rest.poc.impl" 
                staticSubresourceResolution="true">
    <jaxrs:inInterceptors>
      <ref bean="gzipInInterceptor"/>
    </jaxrs:inInterceptors>         
    <jaxrs:outInterceptors>
      <ref bean="gzipOutInterceptor"/>
    </jaxrs:outInterceptors>
    <jaxrs:providers>
      <ref bean="jsonProvider"/>
    </jaxrs:providers>
  </jaxrs:server>
</beans>
